/* OVERALL */
* { font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    letter-spacing: 0.5px }
a:hover { color: #000000!important }
body { margin-top: 0;
       margin-bottom: 0 }

/* HEADER */
header > a {  margin: 0;
              font-size: 3em;
              display: inline-block; 
              background-color: transparent;
              text-decoration: none;
              color: #eee }

header img { background-color: transparent;
             height: 70px }

header > h1:hover { color: black }

header { background: linear-gradient(to right, rgba(252, 16, 40, 1.0), rgba(251, 202, 3, 1.0)) 100%;
         padding: 0 10px 0 10px }

/* NAV */
nav { text-align: center;
      border-style: none solid;
      background: 
        linear-gradient(to right, rgba(252, 16, 40, 1.0), rgba(251, 202, 3, 1.0)) 
        left 
        bottom 
        #777 
        no-repeat;
      background-size: 100% 3px;
      background-color: transparent;
      font-size: 1.5em;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      border-left-color: rgba(252, 16, 40, 1.0);
      border-right-color: rgba(251, 202, 3, 1.0);
      z-index: 2 }

nav a { color: cadetblue;
        padding: 0 10px 0 10px;
        margin: 5px 0 5px 0;
        text-decoration: none; 
        display: inline;
        border-left: 1px solid #eee;
        white-space: nowrap;
        background-image: linear-gradient(to right, rgba(126, 8, 20, 1.0), rgba(126, 101, 2, 1.0));
        color: transparent;
        -webkit-background-clip: text }

.dropdown { overflow: hidden;
            display: inline;
            position: relative }

.dropdown .dropbtn { border: none;
                     outline: none;
                     font-size: 1em;
                     margin: 0;
                     background-color: transparent;
                     padding: 0 10px 0 10px;
                     margin: 5px 0 5px 0;
                     border-left: 1px solid #eee;
                     border-right: 1px solid #eee;
                     background-image: linear-gradient(to right, rgba(126, 8, 20, 1.0), rgba(126, 101, 2, 1.0));
                     color: transparent;
                     -webkit-background-clip: text }

.dropdown-content, .dropdown-content:active { display: none;
                                              position: absolute; 
                                              right: 15px;
                                              box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                                              z-index: 3;
                                              background-color: #fff;
                                              margin-top: -5px }

.dropdown-content a { float: none;
                      padding: 12px 0 12px 0;
                      text-decoration: none;
                      z-index: inherit;
                      display: block;
                      text-align: left;
                      margin: 0 12px 0 12px;
                      border-bottom: 1px solid #eee;
                      border-left: none }

.dropdown:hover .dropdown-content { display: block }

.dropbtn:hover { color: black }

nav * { background-color: white }

/* quando il menu si attacca in cima alla finestra dopo lo scroll in basso */
.sticky { position: fixed;
          top: 0;
          left: 1.54%;
          right: 1.54%;
          margin: auto;
          background-color: white }

nav img { top: 15px;
          margin-top: -15px;
          height: 40px;
          position: relative;
          background-color: transparent }

/* CORPO */
#corpo { width: 70%;
         margin-left: auto; 
         margin-right: auto;
         box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
         padding: 0px 20px 20px 20px; 
         background-color: white }

#corpo > h1, #corpo h2 { margin: 0;
                         padding-top: 10px }

#prezzo { float: right; 
          margin: -25px 0 0 }

#corpo button { padding: 0 0 0 5px;
                text-align: left;
                vertical-align: middle;
                height: 50px;
                float: right;
                color: black;
                border-left: 3px solid rgba(252, 16, 40, 1.0);
                border-right: 3px solid rgba(251, 202, 3, 1.0);
                border-top: none;
                border-bottom: none;
                font-weight: bolder;
                border-radius: 5px;
                background-image: linear-gradient(to right, rgba(252, 16, 40, 1.0) 0%, rgba(251, 202, 3, 1.0) 100%), linear-gradient(to right, rgba(252, 16, 40, 1.0) 0%, rgba(251, 202, 3, 1.0) 100%);
                background-image: -webkit-linear-gradient(left, rgba(252, 16, 40, 1.0) 0%, rgba(251, 202, 3, 1.0) 100%), -webkit-linear-gradient(left, rgba(252, 16, 40, 1.0) 0%, rgba(251, 202, 3, 1.0) 100%);
                background-image: -moz-linear-gradient(left, rgba(252, 16, 40, 1.0) 0%, rgba(251, 202, 3, 1.0) 100%), -moz-linear-gradient(left, rgba(252, 16, 40, 1.0) 0%, rgba(251, 202, 3, 1.0) 100%);
                background-image: -o-linear-gradient(left, rgba(252, 16, 40, 1.0) 0%, rgba(251, 202, 3, 1.0) 100%), -o-linear-gradient(left, rgba(252, 16, 40, 1.0) 0%, rgba(251, 202, 3, 1.0) 100%);
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                background-position: 0 0, 0 100%;
                background-repeat: no-repeat;
                background-size: 100% 3px;
                background-color: transparent; 
                margin-bottom: 20px }

#corpo button:hover { transform: scale(1.02) }

#corpo button * { vertical-align: middle }

#corpo button > img { position: relative;
                      height: 50px;
                      background-color: transparent;
                      right: 10px;
                      margin-right: -10px }

canvas { position: relative;
         margin-left: 50%;
         transform: translateX(-50%)}

.desc { width: 70%;
        margin-left: 50%;
        transform: translateX(-50%);
        text-align: justify;
        text-justify: inter-word; }

/* FOOTER */
#torna_su { display: none;
            position: fixed;
            z-index: 1;
            border-style: solid;
            border-color: rgba(252, 16, 40, 1.0);
            color: rgba(252, 16, 40, 1.0);
            padding: 23px 5px 23px 5px;
            text-decoration: none;
            right: 8%;
            bottom: 2%;
            border-radius: 50%;
            font-size: 65%;
            background-color: transparent }

#torna_su:hover { background-color: rgba(252, 16, 40, 1.0);
                  color: #eee!important;
                  box-shadow: 4px 4px rgba(0,0,0,0.2) }

#torna_su > b, #torna_su > b:hover { background-color: inherit}

/* quando il bottone torna su appare in fondo alla finestra dopo lo scroll in basso */
.sticky_footer { display: block !important}

footer { background: linear-gradient(to right, rgba(252, 16, 40, 1.0), rgba(251, 202, 3, 1.0)) 100%;
         bottom: 0;
         width: 100%;
         position: relative;
         border-top-left-radius: 5px;
         border-top-right-radius: 5px;
         color: white;
         text-align: center; 
         display: flex; 
         justify-content: center }

#footer_content { padding: 5px;
                  margin: 10px 0;
                  border-style: none solid;
                  border-color: white;
                  border-width: 1px; }

#footer_content > h1 { margin: 0;
                       font-size: 0.8em;
                       font-weight: normal }

#footer_content > address { font-size: 0.8em }

#footer_content > address, #footer_content > address a { font-style: normal;
                                       text-decoration: none;
                                       color: inherit }

footer > p { float: left; 
             position: absolute;
             left: 5px;
             margin: 0;
             top: 50%;
             transform: translateY(-50%);
             width: 160px;
             font-size: 0.8em }

footer > p > a { text-decoration: none;
                 color: white;
                 font-weight: bolder }

/* RESPONSIVENESS */
@media screen and (max-width: 920px) {
    /* CORPO */
    #corpo { width: 90%;
             margin-left: auto;
             margin-right: auto }

    .desc { width: inherit }
    
    /* FOOTER */
    #torna_su { right: 3% }
}

@media screen and (max-width: 715px) {
    /* NAV */
    nav { font-size: 1em }
    
    /* CORPO */
    #corpo { width: 90%;
             margin-left: auto;
             margin-right: auto }

   #corpo button { float: none;
                   display: block; 
                   margin-left: auto;
                   margin-right: auto;
                   margin-top: 5px }

    #prezzo { float: none;
              text-align: center }

    #corpo h2 { padding-bottom: 15px }

    canvas { margin: 0; 
             left: 50% }
}

@media screen and (max-width: 650px) {
    /* FOOTER */
    #footer_content { width: 180px }
}

@media screen and (max-width: 545px) { 
    /* NAV */
    .dropdown-content { border-style: solid;
                        border-color: rgba(252, 16, 40, 1.0);
                        border-radius: 5px;
                        border-width: thin;
                        right: 100px; 
                        top: 58px }

    .dropdown-content a { padding: 5px; 
                          margin: 2px }

    /* CORPO */
    .desc { text-align: left }

    /* FOOTER */
    #torna_su { bottom: 0;
                border-radius: 0;
                background-color: transparent;
                color: rgba(252, 16, 40, 1.0);
                padding: 5px;
                font-size: 100%;
                border-radius: 5px;
                right: 0 }

    #torna_su:hover { box-shadow: none }

    footer { padding-bottom: 20px }

    #footer_content { width: auto }

    footer > p { width: auto;
                 bottom: 0;
                 top: auto;
                 left: 0; 
                 right: 0 }
}

@media screen and (max-width: 365px) {
    /* NAV */
    .dropdown-content { right: 20px;
                        top: 23px }

    /* per risolvere il problema del bordo extra nero visibile */
    .dropdown .dropbtn { border-right-width: 2px }
}

@media screen and (max-width: 330px) {
    /* FOOTER */
    footer { padding-bottom: 40px }
    
    #footer_content { border: none;
                      border-bottom: solid 1px white;
                      margin-left: 10px;
                      margin-right: 10px }

    footer > p { width: 180px;
                 left: 50%; 
                 transform: translateX(-50%);
                 bottom: 10px }
}

@media screen and (max-width: 320px) {
    /* NAV */
    .dropdown-content { right: 15px;
                        top: 23px }

    /* per risolvere il problema del bordo extra nero visibile */
    .dropdown .dropbtn, nav > a { border: none }

    nav > a:nth-of-type(2) { border-left: solid 1px #eee }
}

@media screen and (max-width: 310px) { 
    /* NAV */
    .dropdown-content { right: -8px;
                        top: 57px }
}